In [1]:
#Import modules
import numpy as np
import pandas as pd
import xmat_pnnl_code as xcode

In [2]:
#Load the data
data_df, fetures_description, alloy_metadata = xcode.load_data('Aus_Steel_Data')

In [3]:
data_df

,ID,Fe,C,Cr,Mn,Si,Ni,Co,Mo,W,...,CT_CS,CT_RT,CT_EL,CT_RA,CT_MCR,CT_0.5% CS,CT_1.0% CS,CT_2.0% CS,CT_5.0% CS,CT_TTC
13,AUS_001,67.513,0.09,18.2,1.57,0.4,11.32,NaN,NaN,NaN,...,320,199.6,11,14,0.0028,NaN,NaN,NaN,NaN,86
14,AUS_001,67.513,0.09,18.2,1.57,0.4,11.32,NaN,NaN,NaN,...,280,1314,10,12,0.00034,NaN,NaN,NaN,140,365
15,AUS_001,67.513,0.09,18.2,1.57,0.4,11.32,NaN,NaN,NaN,...,260,1913.6,9,12,0.00074,NaN,NaN,NaN,1190,341
16,AUS_001,67.513,0.09,18.2,1.57,0.4,11.32,NaN,NaN,NaN,...,240,6678.8,9,14,0.00052,NaN,NaN,80,4140,1650
17,AUS_001,67.513,0.09,18.2,1.57,0.4,11.32,NaN,NaN,NaN,...,220,34874.8,8,11,5e-05,NaN,NaN,1290,28800,26100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,AUS_018,18.7,0.06,21.1,0.48,0.35,48.0392,1.4,8.8,0.6,...,30,3765.8,74,74,NaN,NaN,NaN,NaN,NaN,NaN
728,AUS_018,18.7,0.06,21.1,0.48,0.35,48.0392,1.4,8.8,0.6,...,25,181.1,100,72,NaN,NaN,NaN,NaN,NaN,NaN
729,AUS_018,18.7,0.06,21.1,0.48,0.35,48.0392,1.4,8.8,0.6,...,20,331.2,66,69,NaN,NaN,NaN,NaN,NaN,NaN
730,AUS_018,18.7,0.06,21.1,0.48,0.35,48.0392,1.4,8.8,0.6,...,15,1934.4,40,39,NaN,NaN,NaN,NaN,NaN,NaN
731,AUS_018,18.7,0.06,21.1,0.48,0.35,48.0392,1.4,8.8,0.6,...,10,3088.9,46,39,NaN,NaN,NaN,NaN,NaN,NaN