In [1]:
#Import different python modules
import numpy as np
import pandas as pd
import xmat_pnnl_code as xcode

In [2]:
#Load the data
data_df, fetures_description, alloy_metadata = xcode.load_data('9Cr_Data')

In [3]:
data_df

,ID,Fe,C,Cr,Mn,Si,Ni,Co,Mo,W,...,CT_MCR,CT_0.1% CS,CT_0.15%CS,CT_0.2% CS,CT_0.25% CS,CT_0.5% CS,CT_1.0% CS,CT_2.0% CS,CT_5.0% CS,CT_TTC
26,1,85.44,0.15,9.833,0.406,0.087,0.27,1.479,1.262,0.482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1,85.44,0.15,9.833,0.406,0.087,0.27,1.479,1.262,0.482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1,85.44,0.15,9.833,0.406,0.087,0.27,1.479,1.262,0.482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1,85.44,0.15,9.833,0.406,0.087,0.27,1.479,1.262,0.482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1,85.44,0.15,9.833,0.406,0.087,0.27,1.479,1.262,0.482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4156,109,84.231,0.25,11.27,0.98,0.3,0.7,NaN,0.98,0.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4514,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4555,131,87.7342,0.093,8.8,0.46,0.16,0.15,NaN,0.42,1.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4556,131,87.7342,0.093,8.8,0.46,0.16,0.15,NaN,0.42,1.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4557,131,87.7342,0.093,8.8,0.46,0.16,0.15,NaN,0.42,1.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN